/* horizontal-flexbox.css */

*{
	margin: 0;
	padding: 0;
}

ul{
	display: flex;
	max-width: 800px;
	margin-right: auto;
	list-style-type: none;
}

li{
	background-color: green;
	/* Ocupa todo el espacio disponible */
	flex-grow: 1;
}

.especial{
	flex-grow: 2;
}

a{
	background-color:blue (128, 128, 128);
	display: block;
	
	/* Centrar un texto o un elemento de línea */
	text-align: center;
	padding: 8px 0;
}

a:hover{
	background-color: pink;
}









